Repository omega2k-de/omega2k.de: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write, node ./scripts/compress-image.js

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["pnpx prettier --write", "pnpx eslint --max-warnings=3 --fix"],
  "*.{css,scss}": ["pnpx prettier --write", "pnpx stylelint --fix"],
  "*": ["pnpx prettier --ignore-unknown --write"],
  "*.{flow,json,less,html,gql,graphql,md,yml,yaml}": ["pnpx prettier --write"],
  "*.{png,jpeg,jpg,gif,svg}": ["node ./scripts/compress-image.js"]
}

Live deploy 0.42.84 main (92576fef)
  .gitlab-ci.yml
  .local.env
  apps/www/proxy.conf.mjs
  apps/www/src/styles/articles.scss
  apps/www/src/styles/root.scss
  content.db
  content/pages/29-license.md
  content/pages/31-lessons-blueprint-0-1.md
  content/pages/32-lessons-city-x-wt-zone-extreme-burnout.md
  docker/config/app-version
  libs/core/src/lib/core/config/app.config-params.ts
  libs/page/src/lib/page/aside/cards.outlet.html
  libs/page/src/lib/page/aside/cards.outlet.scss
  libs/page/src/lib/page/aside/structure.outlet.scss
  libs/ui/src/lib/ui/headers/header-nav-dropdown.component.scss
  package.json
  scripts/create-config.sh
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write

Live deploy 0.42.84 main (5b4be756)
  apps/www/src/styles/articles.scss
  apps/www/src/styles/typography.scss
  content.db
  content/pages/30-lessons.md
  content/pages/31-lessons-blueprint-0-1.md
  content/pages/32-lessons-city-x-wt-zone-extreme-burnout.md
  content/pages/33-lessons-example-parameters-1.md
  content/pages/34-lessons-example-parameters-2.md
  libs/page/src/lib/page/aside/cards.outlet.scss
  libs/ui/src/lib/ui/components/card/card.component.html
  libs/ui/src/lib/ui/components/card/card.component.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write

Live deploy 0.42.84 main (baa693b2)
  content.db
  content/pages/23-manual-superorganism-democracy.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Create SECURITY.md for security policy
  SECURITY.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (3b9dacf6)
  .gitlab-ci.yml
  .local.env
  SECURITY.md
  apps/www/proxy.conf.mjs
  apps/www/src/app/app.config.ts
  apps/www/src/app/app.html
  apps/www/src/app/app.spec.ts
  apps/www/src/styles/articles.scss
  content.db
  content/pages/3-superorganism-2-0-part-i.md
  docker/config/app-version
  libs/core/src/lib/core/config/app.config-params.ts
  libs/core/src/lib/core/services/coordinator.service.ts
  libs/page/src/lib/page/aside/structure.outlet.spec.ts
  libs/ui/src/lib/ui/components/backdrop/animated-backdrop.component.html
  libs/ui/src/lib/ui/components/backdrop/animated-backdrop.component.scss
  libs/ui/src/lib/ui/components/backdrop/animated-backdrop.component.spec.ts
  libs/ui/src/lib/ui/components/backdrop/animated-backdrop.component.ts
  libs/ui/src/lib/ui/components/notify/notifications.component.html
  libs/ui/src/lib/ui/components/notify/notifications.component.scss
  libs/ui/src/lib/ui/components/notify/notifications.component.spec.ts
  libs/ui/src/lib/ui/components/notify/notifications.component.ts
  libs/ui/src/lib/ui/headers/header-nav-dropdown.component.spec.ts
  libs/ui/src/lib/ui/headers/header.component.scss
  libs/ui/src/lib/ui/headers/header.component.spec.ts
  package.json
  pnpm-lock.yaml
  scripts/create-config.sh
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (793cf06c)
  content.db
  content/pages/34-lessons-example-parameters-2.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (79bcbfe7)
  apps/www/project.json
  package.json
  pnpm-lock.yaml
  tools/ai-migrations/MIGRATE_VITEST_4.md
  tsconfig.base.json
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (bb8945cc)
  apps/websocket/src/services/ws.server.ts
  apps/www-e2e/tsconfig.json
  apps/www/project.json
  tsconfig.base.json
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (43e50f68)
  content.db
  content/pages/35-one-life.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (3b19fada)
  content.db
  content/pages/36-one-life-in-details.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (c3d874a5)
  content.db
  content/pages/37-superorganism-2-0-the-quiz.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (f80f2957)
  content.db
  content/pages/37-superorganism-2-0-the-quiz.md
  content/pages/38-superorganism-2-0-the-quiz-extended.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.85 main (c827787d)
  content.db
  content/pages/37-superorganism-2-0-the-quiz.md
  content/pages/38-superorganism-2-0-the-quiz-extended.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.86 main (a17e1673)
  content.db
  content/pages/33-lessons-example-parameters-1.md
  content/pages/34-lessons-example-parameters-2.md
  content/pages/41-lessons-blueprint-0-2.md
  content/pages/42-lessons-wt-howto.md
  package.json
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.86 main (c51334cb)
  content.db
  content/pages/42-lessons-wt-howto.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.86 main (1fa30fb1)
  content.db
  content/pages/32-lessons-city-x-wt-zone-extreme-burnout.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.86 main (b65fa73f)
  content.db
  content/pages/43-lessons-wt-clear-view.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Add ESLint workflow for code analysis
  .github/workflows/eslint.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

Live deploy 0.42.86 main (2fe79a54)
  .github/workflows/eslint.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(sync): mirror main (ec67ddc42ec7f325c9f0e94b38a4a57e70719a60)
  .gitlab-ci.yml
  .husky/commit-msg
  .local.env
  apps/websocket-e2e/src/websocket/websocket.spec.ts
  apps/www/proxy.conf.mjs
  commitlint.config.js
  docker/Dockerfile.api
  docker/Dockerfile.ssr
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
  docker/config/app-version
  docker/scripts/rebuild-testing-image.sh
  docker/scripts/run-e2e-in-testing-image.sh
  libs/core/src/lib/core/config/app.config-params.ts
  package.json
  pnpm-lock.yaml
  release.config.mjs
  scripts/ci-commitlint.sh
  scripts/create-config.sh
  scripts/git-push-github.sh
  scripts/release.mjs
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.0.3 (89201505)
  .gitlab-ci.yml
  docker/Dockerfile.api
  docker/Dockerfile.node
  docker/Dockerfile.ssr
  scripts/mirror-registry.sh
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.0.4 (9df29316)
  apps/websocket-e2e/src/websocket/websocket.spec.ts
  apps/www-e2e/src/example.spec.ts
  libs/core/eslint.config.mjs
  libs/core/src/lib/core/services/seo.service.spec.ts
  libs/page/src/lib/page/pages/content.page.ts
  libs/ui/src/lib/ui/observers/directives/vpo-listen.directive.ts
  libs/ui/src/lib/ui/observers/directives/vpo-observe.directive.ts
  libs/ui/src/lib/ui/observers/services/vo.service.spec.ts
  scripts/release.mjs
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(sync): mirror main 3bc44384 (3bc44384)
  .gitlab-ci.yml
  .local.env
  .stylelintrc.json
  apps/www/project.json
  apps/www/src/server.ts
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
  docker/config/nginx.conf
  docker/config/nginx.preview.conf
  libs/core/package.json
  libs/core/src/lib/core/services/index.ts
  libs/core/src/lib/core/services/link.service.ts
  libs/core/src/lib/core/services/seo.service.spec.ts
  libs/core/src/lib/core/services/seo.service.ts
  libs/page/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
  scripts/mirror-registry.sh
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.0.5 (93c24574)
  .gitlab-ci.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.0.6 (8b7a49c1)
  .gitlab-ci.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.1.0 (e753c130)
  apps/websocket/src/services/ws.server.ts
  apps/www/src/app/app.config.ts
  libs/core/src/lib/core/interceptors/index.ts
  libs/core/src/lib/core/interceptors/websocket-http.interceptor.fn.spec.ts
  libs/core/src/lib/core/interceptors/websocket-http.interceptor.fn.ts
  libs/core/src/lib/core/services/index.ts
  libs/core/src/lib/core/services/websocket-http-bridge.service.ts
  libs/core/src/lib/core/websocket/interfaces/ws-client.interface.ts
  libs/core/src/lib/core/websocket/interfaces/ws-command.interface.ts
  libs/core/src/lib/core/websocket/interfaces/ws-message.interface.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.0 (ed4a51d9)
  apps/websocket/src/services/ws.server.spec.ts
  apps/websocket/src/services/ws.server.ts
  libs/core/src/lib/core/interceptors/websocket-http.interceptor.fn.spec.ts
  libs/core/src/lib/core/services/websocket-http-bridge.service.spec.ts
  libs/core/src/lib/core/services/websocket-http-bridge.service.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.1 (4b5e708a)
  package.json
  pnpm-lock.yaml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.2 (114f4cf3)
  apps/websocket/src/services/ws.server.spec.ts
  apps/websocket/src/services/ws.server.ts
  apps/www/src/access-log.util.spec.ts
  apps/www/src/access-log.util.ts
  apps/www/src/app/app.config.server.spec.ts
  apps/www/src/app/app.config.server.ts
  apps/www/src/server.ts
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.3 (ed1564ff)
  apps/www/src/app/app.config.server.spec.ts
  apps/www/src/app/app.config.server.ts
  apps/www/src/server.ts
  libs/core/src/lib/core/services/error-handler.service.spec.ts
  libs/core/src/lib/core/services/error-handler.service.ts
  libs/core/src/lib/core/services/websocket-http-bridge.service.spec.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.4 (a9b62f12)
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.5 (b8c7d0a7)
  .gitlab-ci.yml
  apps/www/src/app/app.config.server.spec.ts
  apps/www/src/app/app.config.server.ts
  apps/www/src/server.ts
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.6 (699c5dbe)
  docker/compose/dev/docker-compose.yml
  docker/compose/prod/docker-compose.yml
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.7 (d030a50a)
  package.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write
