Repository omega2k-de/omega2k.de: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write, node ./scripts/compress-image.js

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["pnpx prettier --write", "pnpx eslint --max-warnings=3 --fix"],
  "*.{css,scss}": ["pnpx prettier --write", "pnpx stylelint --fix"],
  "*": ["pnpx prettier --ignore-unknown --write"],
  "*.{flow,json,less,html,gql,graphql,md,yml,yaml}": ["pnpx prettier --write"],
  "*.{png,jpeg,jpg,gif,svg}": ["node ./scripts/compress-image.js"]
}

chore(release): sync v1.2.8 (05f8b08d)
  apps/websocket/src/services/ws.server.spec.ts
  apps/websocket/src/services/ws.server.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.9 (a8d88930)
  apps/websocket/src/services/ws.server.spec.ts
  apps/websocket/src/services/ws.server.ts
  apps/www/src/server.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.2.10 (b5a6e81c)
  apps/websocket-e2e/src/websocket/websocket.spec.ts
  apps/websocket/src/main.ts
  apps/websocket/src/services/ws.server.spec.ts
  apps/websocket/src/services/ws.server.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.0 (6c39a020)
  apps/websocket-e2e/src/support/test-setup.ts
  apps/websocket-e2e/src/websocket/websocket.spec.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.1 (75578416)
  apps/www/src/index.html
  apps/www/src/styles/icons.scss
Due: pnpx prettier --write, pnpx stylelint --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.2 (f23b6d24)
  apps/www/src/index.html
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.3 (8aa1f5e7)
  apps/websocket/src/services/ws.server.spec.ts
  package.json
  pnpm-lock.yaml
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.5 (a29d94ad)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .gitlab-ci.yml
  AGENTIC_CODING.md
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  ROADMAP.md
  docs/api/websocket.md
  docs/architecture/adr-001-use-nx-workspace.md
  docs/architecture/adr-002-use-angular-ssr.md
  docs/architecture/adr-003-use-websocket-for-realtime.md
  docs/metadata/spec-kit.yaml
  docs/spec-kit/README.md
  docs/spec-kit/applications/frontend.md
  docs/spec-kit/applications/websocket-server.md
  docs/spec-kit/libraries/core.md
  docs/spec-kit/libraries/page.md
  docs/spec-kit/libraries/ui.md
  jest.config.ts
  libs/core/package.json
  libs/page/package.json
  libs/ui/package.json
  libs/ui/src/lib/ui/virtual-scrolling/strategies/dynamic-virtual-scroll.strategy.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-spec-kit.mjs
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.3.6 (2b587da2)
  .gitlab-ci.yml
  scripts/generate-spec-kit.mjs
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.0 (c9419fb9)
  .gitignore
  .gitlab-ci.yml
  .specify/extensions.yml
  .specify/extensions/.registry
  .specify/extensions/review/.github/workflows/ci.yml
  .specify/extensions/review/.gitignore
  .specify/extensions/review/.gitmodules
  .specify/extensions/review/CHANGELOG.md
  .specify/extensions/review/LICENSE
  .specify/extensions/review/README.md
  .specify/extensions/review/commands/code.md
  .specify/extensions/review/commands/comments.md
  .specify/extensions/review/commands/errors.md
  .specify/extensions/review/commands/run.md
  .specify/extensions/review/commands/simplify.md
  .specify/extensions/review/commands/tests.md
  .specify/extensions/review/commands/types.md
  .specify/extensions/review/config-template.yml
  .specify/extensions/review/extension.yml
  .specify/extensions/review/review-config.yml
  .specify/extensions/review/scripts/bash/detect-changed-files.sh
  .specify/extensions/review/scripts/powershell/detect-changed-files.ps1
  .specify/extensions/review/tests/bats/detect-changed-files.bats
  .specify/extensions/review/tests/bats/test_helper.bash
  .specify/extensions/review/tests/pester/detect-changed-files.Tests.ps1
  .specify/init-options.json
  .specify/memory/constitution.md
  .specify/scripts/bash/check-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/checklist-template.md
  .specify/templates/constitution-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.1 (1f469172)
  .codex
  AGENTS.md
  AGENT_QUICKSTART.md
  TASKS.md
  TESTING.md
  apps/websocket/src/services/ws.server.ts
  gitlab/internal/create-mr.sh
  gitlab/internal/enable-auto-merge.sh
  gitlab/internal/inspect-pipeline.sh
  gitlab/internal/list-pipeline-jobs.sh
  gitlab/internal/mr-flow.sh
  gitlab/internal/project-ci-job-token-push.sh
  gitlab/internal/project-merge-gate.sh
  gitlab/internal/retry-pipeline.sh
  gitlab/internal/wait-main-pipeline.sh
  gitlab/internal/wait-mr.sh
  gitlab/lib.sh
  gitlab/tool.sh
  libs/page/vite.config.mts
  pnpm-lock.yaml
  scripts/spec-kit-validate.sh
  scripts/specify-feature.sh
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.2 (c9b9f250)
  libs/ui/src/lib/ui/components/like/like-button.component.spec.ts
  libs/ui/src/lib/ui/components/like/like-button.component.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.3 (d40b074f)
  libs/page/src/lib/page/pages/controls.page.html
  libs/ui/src/lib/ui/components/like/like-button.component.spec.ts
  libs/ui/src/lib/ui/components/like/like-button.component.ts
Due: pnpx prettier --write, pnpx eslint --max-warnings=3 --fix, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.4 (1cc4bb41)
  apps/www/public/cdn/images/imprint/signal_qr.webp
  libs/page/src/lib/page/pages/imprint.page.html
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.5 (fb8dc1d2)
  apps/www/public/cdn/images/imprint/signal_qr.webp
Due: pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.7 (24422be8)
  libs/ui/src/lib/ui/footer/footer.component.html
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write

chore(release): sync v1.4.8 (22fc95c8)
  content/pages/30-lessons.md
Due: pnpx prettier --write, pnpx prettier --ignore-unknown --write
